{
  "extends": ["eslint:recommended", "eslint-config-prettier"],
  "plugins": ["eslint-plugin-prettier"],
  "env": {
    "node": true,
    "es2022": true
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
